html {
  --main-width: 1080px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 100px;
  background: #909db4;
}
